/*
 * @Author: ChenShan 
 * @Date: 2019-10-15 19:47:02 
 * @Last Modified by: ChenShan
 * @Last Modified time: 2019-10-15 19:58:55
 */
body{
    font-family: Helvetica;
}
svg{
    width: 500px;
    height:500px;
}
.top-label{
    font-size: 13px;
    font-style: italic;
    text-transform: uppercase;;
    float: left;
}
.age-label
{
    text-align: right;
    font-weight: bold;
    width:90px;
    padding-right: 10px;
}
.clearfix{
    clear: both;
}
.bar{
    fill:rgb(193,210,240);
}
.bar-label{
    text-anchor: end;
}
.axis-label{
    text-anchor: middle;
    font-size: 13px;
}